* {
    margin:0px;
}

body {
    background-color: #3F3F3F;
}

.page {
    display: flex;
    flex-direction: rows;
    align-items: center;
    justify-content: center;
}

img {
    width: 50%;
    height: auto;
}

.lable-input {
    display:flex;
}

.flex-rows {
    display:flex;
    flex:auto;
    justify-content:space-between;
    margin-top:10px;
}

.flex-label-input {
    display:flex;
    flex-direction: column;
}

label {
    font-size:8pt;
    font-weight: bold;
    margin-bottom: 2px;
    color: #C8C8C8;
    margin-left:10px;
}

input {
    border: 0;
    margin-left:10px;
}
